.register-container {
  width: 320px;
  margin: 80px auto;
  padding: 30px;
  background: #fff3e0;
  border-radius: 10px;
  text-align: center;
}

.register-container input,
.register-container select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.register-btn {
  background: orange;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
}