body{
    margin: 0;
    font-family: Arial,sans-serif;
}
.login-container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right,#74ebd5,#acb6e5);
}
.login-box{
    width: 350px;
    padding: 30px;
    text-align: center;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 08px 25px rgba(0,0,0,0.2);
}
h1{
    margin-bottom: 20px;
}
h3{
    color:#1e40af;
    margin-bottom: 20px;
}
.input-field{
width: 100px;
padding:12px;
margin: 10px 0;
border: none;
border-radius: 8px;
outline: none;
gap: 20px;
}
.login-btn{
    width:100%;
    padding:12px;
    margin-top: 10px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    
}
.login-btn:hover{
    background-color: #1d4ed8;
}
.forgot{
margin-top:10px;
color: gray;
font-size: 14px;
cursor: pointer;
}
.create-text{
    margin-top: 10px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
}
.create-text{
    margin-top: 15px;
    font-size: 14px;
}
.create-btn{
    width: 200px;
    padding: 12px;
    background: #ff4d6d;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.create-btn:hover{
    background: #e63946;
    

}
#f1{
    gap: 20px;
}