/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 20px;
}

/* Title */
.sidebar h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

/* Menu */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #cbd5e1;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 6px;
}

.sidebar ul li a:hover {
  background: #334155;
  color: white;
}